$twitter-blue: #4da7de;
$linkedin-blue: #3371b7;
$stack-overflow-orange: #f69c55;
$github-grey: #d3d3d3;


$app-background-color: #282c34;
$app-link-color: #add8e6;
$app-visited-link-color: #d8bfd8;
$app-text-color: #FFF;
$app-text-note: #DDDDDD;

$tag-background-color: #708090;
