@import 'colors';
@import 'layout';

%tag-style-list-items {
  flex-wrap: wrap;
  font-size: 1rem;
  justify-content: space-between;
  padding: 0;

  li {
    background-color: $tag-background-color;
    border-radius: $border-radius;
    padding: 5px;
    margin: 5px;
    display: flex;
    font-weight: bold;
  }
}
