@import 'colors';
@import 'layout';

%tag-style-list-items {
  flex-wrap: wrap;
  font-size: 1rem;
  justify-content: space-between;
  padding: 0;

  li {
    background-color: $tag-background-color;
    border-radius: $border-radius;
    display: flex;
    margin: 5px;
    padding: 5px;

    @media print {
      background-color: $app-print-background-color;
      padding: 0;
    }
  }
}
