$base-font-size: calc(11px + 1vmin);
$h5-font-size: $base-font-size;
$h4-font-size: calc(11px + 1.5vmin);
$h3-font-size: calc(11px + 2vmin);
$h2-font-size: calc(11px + 2.5vmin);
$h1-font-size: calc(11px + 5vmin);
