.author-name,
.author-roles,
.author-location,
.author-fun-facts {
  text-align: center;
}

.author-fun-facts {
  span {
    &:not(:last-child) {
      &:after {
        content: '•';
        padding: 0.5em;
      }
    }
  }
}
