@import 'styles/layout';

.education {
  .education-header {
    text-align: center;
  }

  .education-entry {
    display: flex;
    align-items: flex-start;
    margin: $section-margin 0;

    .education-name {
      flex: 1 1 40%;
      margin-right: $inline-sibling-margin;
      text-align: right;

      h4 {
        margin: 0;
      }
    }

    .education-description {
      flex: 1 1 60%;
      margin-left: $inline-sibling-margin;
      text-align: left;

      p {
        margin: 0;
      }
    }
  }
}
