@import 'styles/colors';
@import 'styles/font';
@import 'styles/layout';

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $serif-font;
  font-size: $base-font-size;
  text-rendering: optimizeLegibility;

  a {
    color: $app-link-color;

    &:visited {
      color: darken($app-link-color, 20%);
    }

    &:hover {
      color: $app-visited-link-color;
    }
  }

  body {
    margin: 0;
    padding: 0;
  }

  code {
    font-family: $monospace-font;
  }

  h1, h2, h3, h4, h5 {
    font-family: $sans-serif-font-smallcaps;
    margin: 0;
  }

  // unbolded headers
  h2, h3, h4 {
    font-weight: normal;
  }

  h1 {
    font-size: $h1-font-size;
  }

  h2 {
    font-size: $h2-font-size;
  }

  h3 {
    font-family: $serif-font;
    font-size: $h3-font-size;
  }

  h4 {
    font-size: $h4-font-size;
    line-height: 1em;
  }

  h5 {
    font-size: $h5-font-size;
    font-weight: bold;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  @media only screen and (max-width: $small-viewport-breakpoint) {
    font-size: $small-base-font-size;

    h1 {
      font-size: $h1-font-size;
    }

    h2 {
      font-size: $h2-font-size;
    }

    h3 {
      font-size: $h3-font-size;
    }

    h4 {
      font-size: $h4-font-size;
    }

    h5 {
      font-size: $h5-font-size;
    }
  }
}
