.org-summary {
  .org-location {
    font-size: 0.75rem;
    font-style: italic;
    margin-left: 1em;
  }

  .org-roles-and-teams {
    display: flex;
    justify-content: space-between;

    .org-roles {
      padding-right: 10px;
      text-align: right;
    }

    .org-teams {
      padding-left: 10px;
      text-align: left;
    }

    .org-roles,
    .org-teams {
      flex: 1 1 50%;

      ul {
        margin: 0;
        padding: 0;
      }
    }
  }

  .org-tasks {
    text-align: center;

    .tasks-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;

      li {
        &:not(:last-child) {
          &:after {
            content: '•';
            padding: 1em;
          }
        }
      }
    }
  }

  .org-projects {
    align-content: flex-start;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
