@import 'styles/colors';
@import 'styles/layout';

$desktop-view-project-columns: 2;

.org-project {
  align-content: flex-start;
  background-color: lighten($app-background-color, 20%);
  border-radius: $border-radius;
  border: 1px solid darken($app-text-color, 50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 2 1 ($small-viewport-breakpoint / $desktop-view-project-columns);
  margin: $inline-sibling-margin;
  padding: $section-padding;

  .title {
    h5 {
      margin: 0;
    }
  }

  h4 {
    margin: 0 0 $inline-character-margin 0;
  }

  .description {
    max-width: $small-viewport-breakpoint;
  }

  .description,
  .links,
  .samples,
  .title-section {
    flex: 2 2 100%;
    margin: 0 auto ($inline-sibling-margin * 2) auto;
  }

  .links,
  .samples {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        &:not(:last-child) {
          &:after {
            content: '•';
            padding: $inline-character-margin;
          }
        }
      }
    }
  }

  .skills,
  .technologies {
    flex: 2 1 auto;
    margin: 0 auto;
    width: 50%;
  }
}
