@import 'styles/colors';
@import 'styles/layout';

.author-links {
  display: flex;
  text-align: center;
  margin-bottom: $section-margin;

  a {
    flex: 3 1 auto;
    text-decoration: none;

    &:not(:last-child) {
      padding-right: 1em;
    }

    svg {
      font-size: 1rem;

      &.fa-twitter {
          color: $twitter-blue;
      }

      &.fa-linkedin {
          color: $linkedin-blue;
      }

      &.fa-stack-overflow {
          color: $stack-overflow-orange;
      }

      &.fa-github {
          color: $github-grey;
      }

      &.fa-link {
          color: $app-text-color;
      }
    }
  }
}
